<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hujiejeff.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".webview.WebViewActivity"
            android:exported="false" />
    </application>

</manifest>